@using ForumApp.Models.User
@model List<SharedPostComment>

<body style="background-color: lightgrey">
    @if (Model.Count == 1)
    {
        <h2>@Model.Count comment</h2>
    }
    else
    {
        <h2>@Model.Count comments</h2>
    }

    @if (Model != null)
    {
        <table class="row">
            <tbody>
                @foreach (var comment in Model)
                {
                    <div class="row">
                        <div class="col-lg-12">
                            <div style="height: auto; border-radius: 6px; margin-top: 20px; color: #000000; background-color: #ffffff">
                                <div style="margin-left: 20px; padding-top: 20px">
                                    <p>Author @comment.User.FirstName @comment.User.LastName</p>
                                    <hr>
                                    <p id="description" style="font-size: 20px">@comment.Description</p>
                                    <hr>
                                    <div style="display: flex">
                                        @if (comment.User.UserName == User.Identity.Name)
                                        {
                                            <div class="btn btn-group">
                                                <a asp-controller="PostComment" asp-action="Edit" asp-route-id="@comment.Id" class="btn btn-warning">Edit</a>
                                                <a asp-controller="PostComment" asp-action="Delete" asp-route-id="@comment.Id" class="btn btn-danger">Delete</a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </tbody>
        </table>
    }
    
<hr>
@if (ViewData["SharedPost"] != null)
    {
        int sharedPost = (int)ViewData["SharedPost"];
        <a asp-controller="SharedPostComment" asp-action="Create" asp-route-id="@sharedPost" class="btn btn-primary btn-sm">Add comment</a>
        <a asp-controller="SharedPost" asp-action="Details" asp-route-id="@sharedPost" class="btn btn-primary btn-sm">Show post</a>
    }
</body>