@model ApplicationUser
@{
    ViewData["Title"] = "Index";
}

<div class="form-group" style="margin-top: 60px">
    <h4 class="text-center">@Model.FirstName @Model.LastName</h4>
    <div class="btn-group pull-right">
        <a href="#" class="btn btn-success btn-sm">Settings</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h4 class="">Search</h4>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                <div class="input-group-btn">
                    <button class="btn btn-success" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
            <button type="button" class="btn btn-default btn-sm btn-block hidden-lg hidden-md" data-toggle="collapse" data-target="#demo">
                Refine your search <span class="caret"></span>

            </button>

            <div id="demo" class="collapse in">
                <hr>
                <div class="list-group list-group">
                    <h4 class="">Category</h4>
                    <a href="#" class="list-group-item"><span class="badge">14</span> Active item <span class="label label-primary">New</span></a>
                    <a href="#" class="list-group-item"><span class="badge">3</span> Second item</a>
                    <a href="#" class="list-group-item"><span class="badge">25</span> Third item</a>
                    <a href="#" class="list-group-item"><span class="badge">14</span> Active item</a>
                    <a href="#" class="list-group-item"><span class="badge">3</span> Second item</a>
                    <a href="#" class="list-group-item"><span class="badge">25</span> Third item</a>
                    <a href="#" class="list-group-item"><span class="badge">14</span> Active item</a>
                    <a href="#" class="list-group-item"><span class="badge">3</span> Second item</a>

                    <div id="categories" class="collapse">

                        <a href="#" class="list-group-item"><span class="badge">14</span> Active item</a>
                        <a href="#" class="list-group-item"><span class="badge">3</span> Second item</a>
                        <a href="#" class="list-group-item"><span class="badge">25</span> Third item</a>
                        <a href="#" class="list-group-item"><span class="badge">14</span> Active item</a>
                        <a href="#" class="list-group-item"><span class="badge">3</span> Second item</a>
                    </div>


                    <button class="btn btn-default btn-sm btn-block" data-toggle="collapse" data-target="#categories">More <span class="caret"></span></button>

                    <hr class="">
                    <h4 class="">Viewing Options</h4>
                    <a href="#" class="list-group-item"><span class="badge">14</span> Upcoming Sessions</a>

                    <a href="#" class="list-group-item"><span class="badge">3</span> OnDemand</a>
                    <hr class="">
                    <a href="#" class="list-group-item">Archived Courses</a>
                    <a href="#" class="list-group-item">Courses In Development</a>
                </div>
            </div>



            <div class="hidden-sm hidden-xs">

                <hr>

                <div class="well">

                    <h4>Premium Membership</h4>
                    <p>Gain unlimited access to our entire course library.</p>
                    <button class="btn btn-sm btn-warning">Learn more</button>

                    <hr>
                    <p class="text-center ">Already a member? <a href="#">Sign in.</a></p>
                </div>


                <hr>

                <div class="well">

                    <h4>Course Catalog</h4>
                    <p><a href="#"><img src="http://placehold.it/400X500" class="img-responsive"></a></p>

                    <p>Everything you need to know about our webinars, including speaker bios, topics, and courses.</p>

                    <button class="btn btn-sm btn-block btn-warning">Download</button>
                </div>

                <hr>

                <h4 class="text-center">CPE Partners</h4>

                <p><a href="#"><img class="center-block" src="http://placehold.it/100X100"></a></p>



            </div>

        </div>
        <div class="col-md-9">


            <div class="well hidden-xs">

                <div class="row">

                    <div class="col-xs-4">


                        <select class="form-control">
                            <option>Featured</option>
                            <option>Recently Added</option>
                            <option>Next Upcoming Session</option>
                            <option>A-Z</option>
                            <option>Z-A</option>
                        </select>
                    </div>
                    <div class="col-xs-8">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-th"></span></button>
                            <button type="button" class="btn btn-default active"><span class="glyphicon glyphicon-th-list"></span></button>
                            <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-list"></span></button>

                        </div>
                    </div>

                </div>





            </div>

            <hr>

            @foreach (var post in Model.UserPosts)
            {
                <div class="row">
                    <div class="col-sm-8">
                        <h3 class="title">@post.Title</h3>
                        <h6>published on: <b>@post.CreatedDate</b></h6>
                        <p>@post.Description</p>
                        <p class="text-muted">Presented by <a href="#">@post.User.FirstName @post.User.LastName</a></p>
                        <a asp-controller="PostComment" asp-action="Create" asp-route-id="@post.Id" class="btn btn-primary btn-sm">Add comment</a>
                        @Html.Partial("_CommentsList", post.Comments)
                    </div>
                </div>
            }
            <ul class="pagination pagination-lg pull-right">
                <li><a href="#">«</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">»</a></li>
            </ul>


        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
