@using ForumApp.Models.User
@model PaginatedList<Post>
@{
    ViewData["Title"] = "Index";
    List<Category> categories = (List<Category>)ViewData["Categories"];
    ApplicationUser user = (ApplicationUser)ViewData["User"];
}
<div class="form-group">
    <h4 class="text-center">@user.FirstName @user.LastName</h4>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form method="get" asp-controller="OtherAccount" asp-action="Other">
                <h4 class="">Search</h4>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search posts" name="searchString" id="srch-term">
                    <div class="input-group-btn">
                        <button class="btn btn-success" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <div id="demo" class="collapse in">
                <hr>
                <div class="list-group list-group">
                    <div style="display: flex">
                        @if (categories.Any())
                        {
                            <h4>Categories</h4>
                        }
                        else
                        {
                            <h4>No categories</h4>
                        }
                    </div>
                    @Html.Partial("/Views/UserCategory/List.cshtml", categories)
                    <div id="categories" class="collapse">
                        <div class="container">
                            <ul class="list-group" style="line-height: 30px; width: 360px;">
                                @foreach (var category in categories.Skip(6))
                                {
                                    <a class="btn btn-info" asp-controller="User" asp-action="Select" asp-route-id="@category.Id">@category.Title</a>
                                }
                            </ul>
                        </div>
                    </div>
                    <button class="btn btn-default btn-sm btn-block" data-toggle="collapse" data-target="#categories">More <span class="caret"></span></button>
                </div>
            </div>
        </div>

        <form method="get" asp-controller="OtherAccount" asp-action="ListUsers">
            <div class="form-inline">
                <input style="margin-left: 20px; border-radius: 25px" type="text" required style="border-radius: 25px" class="form-control" placeholder="Search" name="searchUser" id="srch-term">
                <input type="submit" style="border-radius: 25px" value="Search" class="btn btn-primary" />
            </div>
        </form>
        <hr>
        <div class="col-md-7">
            @Html.Partial("/Views/User/ListPosts.cshtml", Model)

            <hr>
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }
            <div style="text-align: center">
                <a asp-controller="OtherAccount" asp-action="Other"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-default @prevDisabled">
                    Previous
                </a>
                <a asp-controller="OtherAccount" asp-action="Other"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-default @nextDisabled">
                    Next
                </a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}