@using ForumApp.Models.User
@model PaginatedList<Post>
@{
    ApplicationUser user = (ApplicationUser)ViewData["User"];
    ViewData["Title"] = "Index";
    List<SharedPost> sharedPosts = (List<SharedPost>) ViewData["SharedPosts"];
    Category category = new Category();
    IEnumerable<Category> categories = (IEnumerable<Category>)ViewData["Categories"];
}
<body style="background-color: lightgrey">
    <div class="form-group">
        <h4 class="text-center">@user.FirstName @user.LastName</h4>
        <div class="btn-group pull-right">
            <a href="#" style="font-size: 20px" class="btn btn-primary">Profile settings</a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <form method="get" asp-controller="User" asp-action="Index">
                    <h4 class="">Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="searchString" id="srch-term">
                        <div class="input-group-btn">
                            <button class="btn btn-success" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <button type="button" class="btn btn-default btn-sm btn-block hidden-lg hidden-md" data-toggle="collapse" data-target="#demo">
                    Refine your search <span class="caret"></span>
                </button>

                <div id="demo" class="collapse in">
                    <hr>
                    <div class="list-group list-group">
                        <div style="display: flex">
                            @if (categories.Any())
                            {
                                <h4>Categories</h4>
                            }
                            else
                            {
                                <h4>No categories</h4>
                            }
                            <button asp-controller="UserCategory" asp-action="Create" class="btn btn-default" style="margin-left: 20px" data-toggle="collapse" data-target="#new-category">New category </button>
                        </div>
                        <div id="new-category" class="collapse">
                            @Html.Partial("/Views/UserCategory/Create.cshtml", category)
                        </div>
                        @Html.Partial("/Views/UserCategory/List.cshtml", categories)
                        <div id="categories" class="collapse">
                            @foreach (var currentCategory in categories.Reverse().Skip(5))
                            {
                                <li class="list-group-item">
                                    <a class="btn btn-info" asp-controller="User" asp-action="Select" asp-route-id="@currentCategory.Id">@currentCategory.Title</a>
                                    <span class="pull-right button-group">
                                        <span class="badge">@currentCategory.UserPosts.Count</span>
                                        <div class="modal fade" id="edit-category">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        @Html.Partial("/Views/UserCategory/Edit.cshtml", new Category())
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade" id="delete-category">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        @Html.Partial("/Views/UserCategory/Delete.cshtml", new Category())
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <a asp-controller="UserCategory" asp-action="Edit" asp-route-id="@category.Id" type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit-category"><span class="glyphicon glyphicon-edit"></span></a>
                                        <a asp-controller="UserCategory" asp-action="Delete" asp-route-id="@category.Id" type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-category"><span class="glyphicon glyphicon-remove"></span></a>
                                    </span>
                                </li>
                            }
                        </div>
                        <button class="btn btn-default btn-sm btn-block" data-toggle="collapse" data-target="#categories">More <span class="caret"></span></button>
                    </div>
                </div>
            </div>
            <div class="col-md-7">

                <div class="form-inline">
                    <form method="get" asp-controller="OtherAccount" asp-action="ListUsers">
                        <button type="button" class="btn btn-primary" style="border-radius: 25px" data-toggle="modal" data-target="#myModal">
                            New post
                        </button>
                        <div class="input-group" style="margin-left: 20px">
                            <input type="text" required style="border-radius: 25px" class="form-control" placeholder="Search" name="searchUser" id="srch-term">
                        </div>
                        <input type="submit" style="border-radius: 25px" value="Search" class="btn btn-primary" />
                    </form>
                </div>
                <div class="modal fade" id="myModal">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Modal Heading</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                @Html.Partial("/Views/User/CreateUserPost.cshtml", new Post())
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>
                </div>
                <hr>
                @Html.Partial("/Views/User/SharedPostsList.cshtml", sharedPosts)
                @Html.Partial("/Views/User/ListPosts.cshtml", Model)
                <hr>
                @{
                    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                }
                <div style="text-align: center">
                    <a asp-controller="User" asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-default @prevDisabled">
                        Previous
                    </a>
                    <a asp-controller="User" asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-default @nextDisabled">
                        Next
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}