@using ForumApp.Models.User
@model PaginatedList<Post>

@foreach (var post in Model)
{
    <div class="row" style="background-color: lightgrey; margin-top: 20px; border-radius: 10px">
        <div class="col-sm-12">
            <div class="list-inline">
                <a href="#" style="font-size: 20px">@post.Title</a>
                @if (post.User.UserName == User.Identity.Name)
                {
                    <a asp-controller="User" asp-action="Settings" asp-route-id="@post.Id" style="float: right; font-size: 26px; text-decoration: none; color: black" class="glyphicon glyphicon-option-horizontal"></a>
                }
            </div>
            <h6>published on: <b>@post.CreatedDate</b></h6>
            <p>@post.Description</p>
            <p class="text-muted">Presented by <a href="#">@post.User.FirstName @post.User.LastName</a></p>
            <a asp-controller="PostComment" asp-action="Create" asp-route-id="@post.Id" class="btn btn-primary btn-sm">Add comment</a>

            @if (post.CommentCount > 1)
            {
                @Html.ActionLink($"Show comments {post.CommentCount}", "ShowComments", "PostComment", post)
            }
            @if (post.CommentCount == 1)
            {
                @Html.ActionLink($"Show comment {post.CommentCount}", "ShowComments", "PostComment", post)
            }
            @if (post.CommentCount <= 0)
            {
                <i>No comments</i>
            }
            @if (post.User.UserName == User.Identity.Name)
            {
                <a asp-controller="User" asp-action="EditUserPost" asp-route-id="@post.Id" class="btn btn-warning">Edit </a>
                <a asp-controller="User" asp-action="DeleteUserPost" asp-route-id="@post.Id" class="btn btn-danger">Delete </a>
            }
        </div>
    </div>
}