@using ForumApp.Models.User
@model PaginatedList<Post>
@using PagedList.Mvc;

@foreach (var post in Model.OrderByDescending(p => p.CreatedDate))
{
    <div class="row" style="background-color: lightgrey; margin-top: 20px; border-radius: 25px">
        <div class="col-sm-12">
            <a href="#"><h3 class="title">@post.Title</h3></a>
            <h6>published on: <b>@post.CreatedDate</b></h6>
            <p>@post.Description</p>
            <p class="text-muted">Presented by <a href="#">@post.User.FirstName @post.User.LastName</a></p>
            <a asp-controller="PostComment" asp-action="Create" asp-route-id="@post.Id" class="btn btn-primary btn-sm">Add comment</a>

            @if (post.CommentCount > 0)
            {
                <a asp-controller="PostComment" asp-action="ShowComments" asp-route-id="@post.Id" class="btn btn-default" style="margin-left: 20px">Show all comments </a>
            }
            @if (post.User.UserName == User.Identity.Name)
            {
                <a asp-controller="User" asp-action="Edit" asp-route-id="@post.Id" class="btn btn-warning">Edit </a>
                <a asp-controller="User" asp-action="Delete" asp-route-id="@post.Id" class="btn btn-danger">Delete </a>
            }

            @Html.Partial("_CommentsList", post.Comments)
        </div>
    </div>
}
