@model List<ForumApp.Models.User.Post>

<p>
    <a asp-controller="User" asp-action="CreateUserPost"  class="btn btn-primary">New post</a>
</p>
@if (Model.Count > 0)
{
    foreach (var post in Model.OrderByDescending(p => p.CreatedDate)) {
         <div class="row" style="background-color: lightgrey; margin-top: 20px; border-radius: 25px">
             <div class="col-sm-12">
                 <h3 class="title">@post.Title</h3>
                 <h6>published on: <b>@post.CreatedDate</b></h6>
                 <p>@post.Description</p>
                 <p class="text-muted">Presented by <a href="#">@post.Category.User.FirstName @post.Category.User.LastName</a></p>
                 <a asp-controller="PostComment" asp-action="Create" asp-route-id="@post.Id" class="btn btn-primary btn-sm">Add comment</a>
                        
                 @if (post.CommentCount > 0)
                 {
                     <a asp-controller="PostComment" asp-action="ShowComments" asp-route-id="@post.Id" class="btn btn-default" style="margin-left: 20px">Show all comments </a>
                 }
                 @Html.Partial("_CommentsList", post.Comments)
             </div>
         </div>
     }
}
else
{
    <h2>Empty category</h2>
}