@using ForumApp.Models.User
@model List<SharedPost>

@foreach (var post in Model)
{
    <div class="row" style="background-color: #ffffff; margin-top: 20px; border-radius: 10px">
        <div class="col-sm-12">
            <div class="list-inline">
                <a asp-controller="SharedPost" asp-action="Details" asp-route-id="@post.Id" style="font-size: 20px">@post.Title</a>
                @if (post.User.UserName == User.Identity.Name)
                {
                    <a asp-controller="User" asp-action="Settings" asp-route-id="@post.Id" style="float: right; font-size: 26px; text-decoration: none; color: black" class="glyphicon glyphicon-option-horizontal"></a>
                }
                <hr>
            </div>
            <p><b>@post.User.FirstName @post.User.LastName</b> shared this post on: <b>@post.SahredDate</b></p>
            <hr>
            <p>@post.Description</p>
            <hr>
            <p class="text-muted">Presented by <a href="#">@post.User.FirstName @post.User.LastName</a></p>
            <hr>
            <a asp-controller="SharedPostComment" asp-action="Create" asp-route-id="@post.Id" class="btn btn-primary btn-sm">Add comment</a>

            @if (post.SharedPostCommentCount > 1)
            {
                @Html.ActionLink($"Show comments {post.SharedPostCommentCount}", "ShowComments", "SharedPostComment", post)
            }
            @if (post.SharedPostCommentCount == 1)
            {
                @Html.ActionLink($"Show comment {post.SharedPostCommentCount}", "ShowComments", "SharedPostComment", post)
            }
            @if (post.SharedPostCommentCount <= 0)
            {
                <i>No comments</i>
            }
            @if (post.User.UserName == User.Identity.Name)
            {
                <a asp-controller="SharedPost" asp-action="Edit" asp-route-id="@post.Id" class="btn btn-warning">Edit </a>
                <a asp-controller="User" asp-action="DeleteUserPost" asp-route-id="@post.Id" class="btn btn-danger">Delete </a>
            }
        </div>
    </div>
}